@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
  --main-color: #98FF98;
  --hover-effect: #244d24;
  --background-color: #202020;
}

*{
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: #FFF;
}

.header__section {
  width: 100vw;
  height: 80px;
  
}

.header__section .navigation__menu {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 80px;
}

.header__section .navigation__menu a {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 29.26px;
  text-decoration: none;
  color: var(--main-color);
    
}

.header__section .navigation__menu a:hover {
  border-bottom: 3px solid var(--main-color);
  
}

main {
  width: 1200px;
  height: 92vh;
  display: flex;
  margin: 0 auto;
}

section {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-content h1 {
  width: 593px;
  font-family: 'Krona One', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  margin-bottom: 28px;
}

.text-content h1 span {
  color: var(--main-color);

}

.text-content p {
  width: 593px;
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 38px;
}

.text-content .follow-me__links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.text-content .follow-me__links li {
  border: 2px solid var(--main-color);
  width: 280px;
  height: 79px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.text-content ul li:hover {
  background-color: var(--hover-effect);
}

.text-content .follow-me__links h2,
.resume__content section h2 {
  font-family: 'Krona One', sans-serif;
}

.follow-me__links li img {
  width: 32px;
  height: auto;
}

.text-content ul li a {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  color: #FFF;
  text-decoration: none;
  
}

figure img {
  width: 400px;
  height: 500px;
  border-radius: 16px;
  object-fit: cover;
}

figure .img-effect {
  box-sizing: border-box;
  position: absolute;
  width: 400px;
  height: 500px;
  left: 60%;
  top: 21%;
  border: 3px solid var(--main-color);
  border-radius: 16px;
  z-index: -1;
}

footer {
  background-color: var(--main-color);
  color: var(--background-color);
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  width: 100vw;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

footer .icons8 {
  font-size: 10px;
}

/*###### Resume Page #####*/

.resume__content section {
  display: flex;
  flex-direction: column;
  align-items: start;

}

.resume__content section h2 {
  font-size: 20px;
  color: var(--main-color);
}

