@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
  /*## Colors ##*/
  --main-color: #98FF98;
  --hover-effect: #244d24;
  --background-color: #202020;

  --title: 'Krona One', sans-serif;
  --subtitle: Montserrat, sans-serif;
}

*{
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: var(--background-color);
  color: #FFF;
  font-size: 16px;
}

.header__section .navigation__menu {
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 80px;
  padding: 0 10%;
}

.header__section .navigation__menu a {
  font-family: var(--subtitle);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 29.26px;
  text-decoration: none;
  color: var(--main-color);
    
}

.header__section .navigation__menu a:hover {
  border-bottom: 3px solid var(--main-color);
  
}

main {
  width: 100%;
  height: 70vh;
  margin: 0 auto;
}

section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.text-content {
  width: 50%;
  height: 100%;
  padding: 0 10%;
}

.text-content h1 {
  font-family: var(--title);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 56px;
  margin-bottom: 28px;
}

.text-content h1 span {
  color: var(--main-color);

}

.text-content p {
  font-family: var(--subtitle);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 38px;
}

.text-content .follow-me__links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.text-content .follow-me__links li {
  border: 2px solid var(--main-color);
  width: 40%;
  padding: 5% 0;
  font-family: var(--subtitle);
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.text-content ul li:hover {
  background-color: var(--hover-effect);
}

.text-content .follow-me__links h2,
.resume__content section h2 {
  font-family: var(--title);
}

.follow-me__links li img {
  width: 32px;
  height: auto;
}

.text-content ul li a {
  font-family: var(--subtitle);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  color: #FFF;
  text-decoration: none;
  
}

.figure__container {
  width: 50%;
  position: relative;
  height: 100%;
}

.figure__container img {
  width: 467px;
  height: 532px;
  z-index: 3;
  border-radius: 16px;
  object-fit: cover;
  position: absolute;
}

.figure__container .img-effect {
  position: absolute;
  width: 467px;
  height: 532px;
  bottom: 174px;
  left: 10px;
  border: 3px solid var(--main-color);
  border-radius: 16px;
  z-index: 1;
}

footer {
  background-color: var(--main-color);
  color: var(--background-color);
  font-family: var(--subtitle);
  font-size: 1rem;
  width: 100vw;
  height: 80px;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

footer .icons8 {
  font-size: 0.62rem;
}

/*###### Resume Page #####*/

.resume__content section {
  display: flex;
  flex-direction: column;
  align-items: start;

}

.resume__content section h2 {
  font-size: 1.25rem;
  color: var(--main-color);
}

/* #### Media Queries #### */

@media only screen and (max-width: 700px) {
  main {
    height: 100%;
  }
  
  section {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 0 5%;
  }
  
  .figure__container,
  .figure__container img,
  .figure__container .img-effect
   {
    width: 300px;
    height: 350px;
    margin: 5% 10%;
  }

  .figure__container .img-effect {
    top: 0;
    left: 3%;
  }

  .text-content .follow-me__links li {
    width: 100%;
  
  }

}
